<div class="sections new">
  <h2>Create Sections</h2>

  <%= form_for(:section, :url => {:action => 'create'}) do |f| %>

    <%= render(:partial => "sections/form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create Section") %>
    </div>
  <% end %>
</div>