<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="subjects delete">
  <h2>Create Subjects</h2>

  <%= form_for(:subject, :url => {:action => 'destroy', :id => @subject.id}) do |f| %>

   <p>Are you sure you w ant to permanently delete this subject?</p>

   <p class="reference-name"><%= @subject.name %></p>

    <div class="form-buttons">
      <%= submit_tag("Delete Subject") %>
    </div>
  <% end %>
</div>